/* Coolors Exported Palette - coolors.co/54494b-b8c4bb-663f46-8783d1-c9d6ea */

/* HSL */
$color1: hsla(349%, 7%, 31%, 1);
$color2: hsla(135%, 9%, 75%, 1);
$color3: hsla(349%, 24%, 32%, 1);
$color4: hsla(243%, 46%, 67%, 1);
$color5: hsla(216%, 44%, 85%, 1);

/* RGB */
$color1: rgba(84, 73, 75, 1);
$color2: rgba(184, 196, 187, 1);
$color3: rgba(102, 63, 70, 1);
$color4: rgba(135, 131, 209, 1);
$color5: rgba(201, 214, 234, 1);