
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    background-color: rgba(184, 196, 187, 1);
    font-family: 'Roboto', sans-serif;
    color: rgba(84, 73, 75, 1);
	border-radius: 5%
}

header, footer {
	background-color:rgba(84, 73, 75, 1);
	font-family: 'Roboto', sans-serif;
	color: rgba(184, 196, 187, 1);
	Height: 8%;
	Text-align: center;
	Padding: 10px 10px 10px 10px;
	Border-radius:1%;
}
footer {
	postion:0% 50%;
}
h2{
	margin: 4px 4px 4px 12px;
}
h1{
	font-size: 3em;
}
nav{
	border-bottom:3px solid rgba(102, 63, 70, 1);
	margin: 0px 0px 0px 0px;
	Padding: 5x 0px 0px 0px;
}
nav a {
    background-color: rgba(84, 73, 75, 1);
    border-radius: 5%;
	color: rgba(184, 196, 187, 1);
    padding: 8px;
    border: thin solid rgba(102, 63, 70, 1);
    text-decoration: none;
    text-align: center;
	display: block;
	margin: 5px 5px 15px 5px;
	width: 90px;
	float: left;
}
nav a:visited {
	color: rgba(135, 131, 209, 1);
}
nav a:hover {
    background-color:rgba(102, 63, 70, 1);
    color:rgba(184, 196, 187, 1);
	font-weight: bold;
}
nav a:active {
	font-weight: bold;
	background-color:rgba(135, 131, 209, 1);
	color:rgba(84, 73, 75, 1);
}
.right-content {
    float:left;
}
.left-content {
    float:right;
}
.clear-float {
    clear:both;
}
section{
	margin: 5px 5px 15px 5px;
	Padding: 5x 0px 0px 0px;
	text-align:center;
}


